body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

nav {
  padding: 0px 15px 0px 8px
}

.card-action>a {
  cursor: pointer !important;
}

.brand-logo {
  cursor: pointer
}

.brand-logo::selection {
  background: transparent;
}